@import 'base.styl'
@import 'normalize.styl'
@import 'style.styl'

azul_oscuro = #191f2b
azul_claro = #2f3545
verde = #3fba70
blanco = #fcfafa

a
	text-decoration none
	color blanco

body
	font-family 'Raleway' , sans-serif

.relative
	position relative

.absolute 
	position absolute

.full-height
	height 100%

.right
	right 0

.header
	color white 
	background-color azul_oscuro
	height 5rem

.logo
	background-color azul_claro
	border-right 1px solid rgba(blanco,.3)
	bottom 0
	font-size 24px
	font-weight 100
	line-height 5rem
	text-align center
	width 15rem

.share
	border-left 1px solid rgba(blanco,.3)
	line-height 5rem
	padding 0 2em

.conoce_mas
	line-height 5rem
	padding 0 10em 0 5rem
	border-left 1px solid rgba(blanco,.3)
